*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-div{
    display: flex;
    flex-direction: row;
    background-color: aquamarine;
    height: 100vh;
    font-size: medium;
}

.main-sidebar{
    margin: 20px;
    border-radius: 20px;
    background-color: #171717;
    color: white;
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 20px;
    justify-content: space-between;
}

.main-sidebar-title{
    font-size: large;
    display: flex;
}

.main-layout-header-menuIcon{
    display: none;
}

.main-sidebar-btn-div{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    height: 75%;
    gap:10px;
}

.main-layout{
    margin-block: 20px;
    margin-right: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: #171717;
    color: white;
    width: 80%;
}

.main-layout-body{
    height: 90%;
    margin: 20px;
}

.main-layout-header{
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 10px;
}

.main-layout-header-icons{

}

/* Mobile devices (up to 767px) */
@media only screen and (max-width: 767px) {
    /* Add your mobile-specific styles here */
    .main-sidebar {
        display: none;
        margin-top: 20px;
        margin-right: 0;
    }

    .main-layout{
        width: 100%;
        margin: 20px;
    }

    .main-sidebar-title{
        justify-content: center;
        text-align: center;
        font-size: 10px;
    }

    .main-layout-header{
        justify-content: space-between;
    }

    .main-layout-header-menuIcon{
        display: block;
    }

    .show{
        display: block;
    }

}

/* Tablets (768px to 1024px) */
@media only screen and (min-width: 767px) and (max-width: 1024px) {
    /* Add your tablet-specific styles here */
    .main-sidebar-title {
        font-size: 16px;
    }
}

/* Desktops (1025px and up) */
@media only screen and (min-width: 1025px) {
    /* Add your desktop-specific styles here */
    .myClass {
        font-size: 18px;
        padding: 20px;
    }
}
