.Login-section{
    height: 100vh;
    color: white;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.Main-div-left{
    background-color: #212121;
    height: 100vh;
    padding: 20px;
    font-size: 25px;
    display: grid;
    grid-template-columns: 5% 95%;
}

.Main-div-right{
    background-color: black;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.right-main-div{
    height: 400px;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 2.5fr;
    justify-content: center;
}

.right-main-div-title{
    text-align: center;
    height: fit-content;
    padding: 10px;
}

.right-main-div-title h2{
    padding-bottom: 10px;
}

.right-main-div-content{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

.right-main-div-content-field{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

.right-main-div-content-field input{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    padding: 10px;
}

.right-main-div-content-checkBox{
    display: flex;
    gap: 5px;
    align-items: center;
}

.right-main-div-content-button button{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}